services:
  publisher:
    build: .
    image: my_ros2_image
    container_name: ros2_publisher
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./src:/ros2_ws/src
      - ./data:/ros2_ws/data
    command: >
      bash -c "source /opt/ros/jazzy/setup.bash &&
               colcon build --symlink-install &&
               source install/setup.bash &&
               ros2 run datapublisher csv_sender_node"

  processor:
    image: my_ros2_image
    container_name: ros2_processor
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./src:/ros2_ws/src
      - ./data:/ros2_ws/data
    depends_on:
      - publisher

    command: >
      bash -c "sleep 5 &&
               source /opt/ros/jazzy/setup.bash &&
               colcon build --symlink-install &&
               source install/setup.bash &&
               ros2 run datapublisher csv_processor_node"